.wrap{

    height: 100vh;
    position: fixed;
    left: 50%;
    
    
}

.link{
   
  
    
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 140px;
    
}

.link1{
    flex: 1;
    margin-top: 100px;
    list-style: none;
    position: relative;
    text-align: center;
    padding: 5px;
    margin: 0;
    height: 40px;
    width: 100px;
    font-size: 12px;
    transition: 0.5s ease;
    cursor: pointer;
    user-select: none;
    color: #16c0f0;
    display: flex;

}

.div{
    width: 90px;
    display: flex;
 
}

.p{

    margin-top: 1px;
    margin-left: 0;
   color: white;
    display: none;
}

.link1:hover + .p {
    display: block;
}

.circleani{
    
    border: 1px solid #16c0f0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: transparent;
    transition: all .2s cubic-bezier(.47, 0, .745, .715);
}

.circleani:hover{
    background-color: #16c0f0;
}